
.container{
    position: absolute;
    left: 35%;
    height: 400px;
    width: 400px;
    text-align: center;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    background-color: rgb(122, 178, 220);
    color: white;
    border-radius: 10px;
}
.state{
   
    color: brown;
}
.email, .password{
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}