.navbar{
    height: 150px;
    width: 100vw;
    background-color: bisque;
    text-align: center;
    color: green;
}
.nav-items{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}
.nav-items a{
    text-decoration: none;
}
.nav-items button{
    margin-top: -7px;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 15px;
}
.nav-items button:hover{
    color: brown;
    background-color: white
}